<header class="s-header header bg-dark">
  <div class="header__logo">
    <a class="logo" href="index.html">
      <%= image_tag("logo.svg", alt: 'logo') %>
    </a>
  </div> <!-- end header__logo -->
  <a class="header__search-trigger" href="#0"></a>
</header> <!-- s-header -->