<div class="sidenav">
  <%= link_to 'Dashboard', admins_root_path %>
  <%= link_to 'Category', admins_categories_path %>
  <%= link_to 'Banner', admins_banners_path %>
  <%= link_to 'Article', admins_articles_path %>
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>