<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      There is a contact mail from: blog.andy1dx.xyz
      name : <%= @content[:cName] %>
      email : <%= @content[:cEmail] %>
      website : <%= @content[:cWebsite] %>
      message : 
      <%= @content[:cMessage] %>
    </p>
  </body>
</html>