<%= render 'layouts/preloader' %>
<%= render 'layouts/header' %>
    <section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">About Andy. </h1>
                <p class="lead">
                Andy1dx is a nickname for andy william. i am an indonesian, now working in japan as an web developer. this is the persional web to publish thinking and life of myself. in this blog i will post my life, travel, idea and other thing about myself.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-full s-content__main">
                <p>
                <img src="images/thumbs/about/about-1000.jpg" 
                     srcset="images/thumbs/about/about-2000.jpg 2000w, 
                             images/thumbs/about/about-1000.jpg 1000w, 
                             images/thumbs/about/about-500.jpg 500w" 
                     sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                </p>
                <hr>
                <h2>This Is My Story</h2>

                <div class="row block-1-2 block-tab-full">
                    <div class="col-block">
                        <h4 class="quarter-top-margin">EDUCATION</h4>
                        <p>I was graduated from <b>Universitas international batam</b> in 2014. my major in my university in <b>Information Technology</b>. in my third year i choose <b>Multimedia Design</b> as my focus. in 2012 i participate in student exchange program to <b>KMUTT</b> from my university. </p>
                    </div>

                    <div class="col-block">
                        <h4 class="quarter-top-margin">CAREER</h4>
                        <p>After graduate i work in <b>OLSERA.COM</b> as web designer for two year. in that two year i learn so many thing about startup company. In 2017 i get an offer to work in japan as IT enginner. i am working in <b>JELLYFISH</b>. In this company i learning so many things about IT while working. </p> 
                    </div>

                    <div class="col-block">
                        <h4 class="quarter-top-margin">FAMILY</h4>
                        <p>I have six family member. almost all my family member is living in <b>Tanjungpinang Indonesia</b> except me and my older brother. My older brother is staying in Palu indonesia. while i am now staying in Japan. my family always support what i choose for my career.</p>
                    </div>

                    <div class="col-block">
                        <h4 class="quarter-top-margin">MY THINKING</h4>
                        <p>I have set my life goal. around 20 - 35 years i will working to gain many knowledge for my self. example: IT, Business, Design, Management, ETC. after that for around 35 - 50 years i will more participate in community and society to make a better living place for the world. lastly for 50 more i will teach new generation so they can make this world become more better place.</p>
                    </div>

                </div>

            </div> <!-- s-content__main -->
        </div> <!-- end row -->

    </section> <!-- end s-content -->

<%= render 'layouts/footer' %>

