    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-six tab-full s-footer__about">
                        
                    <h4>About Andy1dx</h4>

                    <p>Andy1dx is a nickname for andy william. i am an indonesian, now working in japan as an web developer. this is the persional web to publish thinking and life of myself. in this blog i will post my life, travel, idea and other thing about myself.</p>

                </div> <!-- end s-footer__about -->

                <div class="col-six tab-full s-footer__subscribe">
                        
                    <h4>SITEMAP</h4>

                    <div class="sitemap">
                      <%= link_to 'Home', root_path %> | <%= link_to 'Articles', articles_path %> | <%= link_to 'About', about_path %> | <%= link_to 'Contact', contact_path %>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                        <li>
                            <a href="https://www.facebook.com/andy.1dx"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Andy1dx"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/andy_1dx/"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/andybit-okutama"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                    </div>
                </div>
                
            </div>
        </div> <!-- end s-footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->